<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @survey.genero %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @survey.edad %>
</p>

<p>
  <strong>Cuéntanos tu presupuesto:</strong>
  <%= @survey.presupuesto %>
</p>

<p>
  <strong>¿Disfrutas de la compañía al volante?:</strong>
  <%= @survey.compania %>
</p>

<p>
  <strong>Selecciona el factor más importante para ti:</strong>
  <%= @survey.factores %>
</p>

<p>
  <strong>En cuanto al motor, ¿qué prefieres?:</strong>
  <%= @survey.importante %>
</p>

<p>
  <strong>¿Qué color elegrías para tu carro?:</strong>
  <%= @survey.color %>
</p>

<p>
  <strong>Te gustan más los carros con líneas:</strong>
  <%= @survey.lineas %>
</p>

<p>
  <strong>¿En qué prefieres economizar?:</strong>
  <%= @survey.economizar %>
</p>

<p>
  <strong>Estás dispuesto/a:</strong>
  <%= @survey.dispuesto %>
</p>

<p>
  <strong>Eres:</strong>
  <%= @survey.eres %>
</p>


