<!DOCTYPE html>
<html>
<head>
  <title>Apptomovil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

	<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span class="logo">Apptomovil</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%=link_to "Sobre Nosotros", static_pages_about_path %>
                    </li>
                    <li>
                        <%=link_to "Comunidad", posts_path %>
                    </li>
                    <li>
                        <%=link_to "Contacto", static_pages_contact_path %>
                    </li>
                    <% if user_signed_in? %>
					            <li>
					              <%= link_to current_user.name , edit_user_registration_path %>
					            </li>
					            <li>
					              <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
					            </li>
					            <% else %>
					   
					            <li>
					              <%= link_to 'Sign In', new_user_session_path %>
					            </li>
					           	 <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




     
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
